.form {
  align-items: center;
  font-family: "Inconsolata", monospace;
  background: rgba(250, 237, 205, 0.6);
  border-radius: 5px;
}

.img-form {
  margin-top: 1.6em;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin .name-user {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #faedcd;
}

.form-signin .mid {
  margin-bottom: -1px;
  border-radius: 0;
  background: #faedcd;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: #faedcd;
}
